.background{
    -fx-background-color: #1d1d1d;
}

.root{
    -fx-background-color: #61116e;
}

.text-area{
    -fx-font-family: "Times New Roman";
}

.label-white {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}


.flow-pane{
    -fx-background-color: blue;
}

.text-area .content {
     -fx-background-radius: 8;
}

.text-area{
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

#textPanel{
    -fx-padding: 16 0 16 0;
}

#leftPane{
    -fx-padding: 16 0 16 8;
}

#rightPane{
    -fx-padding: 16 8 16 0;
}
